html, body {
    height: 100%;
    margin: 0;
    background-image: url("pics/background.png");
    background-position: center;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin-bottom: -1.5em;
}

.vertical-center {
    padding: 20px;
    overflow: auto;
}

.panel{
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

#panel-quote {
    font-style: italic;
}

#panel-author{
    border: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    font-size: x-large;
}

#btn-next {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    line-height: 50px;
    padding: 0 0;
}

#btn-next:focus, .share_btn:focus {
    outline: none;
}

footer {
    height: 1.5em;
    padding-right: 1em;
    color: #DAA;
}

#btn-tweet {
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url("pics/twitter-black.png");
    background-position: center;
    position: absolute;
    left: 40px;
    bottom: 60px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.shadow {
    box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.2);
}